@font-face {
  font-family: 'RalewayRegular';
  src:  url('../fonts/Raleway-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'RalewaySemiBold';
  src:  url('../fonts/Raleway-SemiBold.ttf') format('truetype');
}

.dashboard{
	margin: 0px;
	.profile-hero{
		background-image: url('../images/profile-header-active.png');
		height: 340px;
		background-repeat: no-repeat;
		&.in-active{
			background-image: url('../images/profile-header.png');
		}
		.side-menu-toggle{
			position: absolute;
			left: 20px;
			top: 40px;
			span{
				border-radius: 2px;
				display: block;
				background-color: #FFFFFF;
				height: 4px;
				width: 22px;
				margin-bottom: 4px;
			}
		}
		h1{
			color: #FFFFFF;
			text-align: center;
			font-family: 'RalewayRegular';
			font-size: 24px;
			line-height: 38px;
			padding-top: 70px;
			span{
				font-size: 36px;
			}
		}

		img{
			display: block;
			margin: 0 auto;
			height: 90px;
			width: 90px;
			padding: 15px 0;
		}

		.status{
			font-family: 'Open Sans', sans-serif;
			font-size: 12px;
			font-weight: 700;
			color: #FFFFFF;
			text-align: center;
		}
	}

	.dashboard{
		img{
			display: block;
			margin: auto;
		}
		h2{
			font-family: 'RalewaySemiBold';
			font-size: 18px;
			text-transform: uppercase;
			text-align: center;
			color: #FFFFFF;
		}
		.left-section{
			height: 265px;
			width: 50%;
			float: left;
			background: #e6e6e6;
			h2{
				color: #534022;
			}
			img{
				width: 85px;
				padding-top: 40px;
				padding-left: 10px;
			}
		}
		.top-right,.bottom-right{
			float: right;
			width: 50%;
			height: 132px;
			img{
				width: 40px;
			}
		}
		.top-right{
			background: #aa6c31;
		}
		.bottom-right{
			background: #534022;
		}
	}
	.location-section{
		clear: both;
		font-family: 'Open Sans', sans-serif;
		color: #534022;
		padding: 10px 15px;
		div{
			display: inline-block;
			float: left;
			width: 33%;
			p{
				margin: 0;
			}
		}
		.distance{
			img{
				float: left;
				width: 15px;
				height: 20px;
				margin-right: 10px;
			}
			p{
				font-size: 15px;
			}
		}

		.cafe{
			font-weight: 700;
		}
		.casters{
			text-align: right;
		}
	}
}