@font-face {
  font-family: 'RalewaySemiBold';
  src:  url('../fonts/Raleway-SemiBold.ttf') format('truetype');
}

@font-face {
  font-family: 'RalewayRegular';
  src:  url('../fonts/Raleway-Regular.ttf') format('truetype');
}

.interests{
	background-color: #e6e6e6;
	margin: 20px 0;
	.title-bar{
		background-color: #534022;
		font-family: 'RalewaySemiBold';
		color: #FFFFFF;
		padding: 25px;

		.side-menu-toggle{
			position: absolute;
			left: 20px;
			top: 45px;
			span{
				border-radius: 2px;
				display: block;
				background-color: #FFFFFF;
				height: 4px;
				width: 22px;
				margin-bottom: 4px;
			}
		}
		img{
			position: absolute;
			left:30%;
			width: 17px;
			top: 50px
		}
		h1{
			text-transform: uppercase;
			font-size: 21px;
			text-align: center;
			padding-left: 15px;
			margin: 0;
		}
	}
	#mainPage{
		h2{
			font-family: 'RalewayRegular';
			color: #534022;
			font-size: 21px;
			width: 235px;
			margin: 42px auto;
		}
		input{
			height: 60px;
			width: 300px;
			margin: 0 auto;
			border-radius: 0;
			border: 0;
			display: block;
			font-family: 'Open Sans', sans-serif;
			font-size: 30px;
		}
		// Bluetooth BLE is depending on this being present for some reason. Just going to hide it
		button{
			display: none;
		}
		.interest-list{
			width: 320px;
			margin: 0 auto;

			h3{
				font-family: 'RalewaySemiBold';
				font-size: 14px;
			}
			p,a{
				font-family: 'Open Sans', sans-serif;
				font-size: 18px;
			}

			.suggestions{
				border-top: 1px solid #cecece;
				p{
					font-size: 14px;
					float: left;
				}
				a{
					color: #aa6c32;
					float: right;
					text-decoration: none;
					font-size: 14px;
					padding-top: 15px;
				}

				.buttons{
					clear: both;
					margin-top: 25px;
					.button{
						background-color: #4ec281;
						color: #FFFFFF;
						font-size: 18px;
						font-family: 'Open Sans', sans-serif;
						display: inline-block;
						padding: 15px;
						border-radius: 10px;
						margin-right: 15px;
					}
				}
			}
		}
	}
}