@font-face {
  font-family: 'RalewayRegular';
  src:  url('../fonts/Raleway-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'RalewaySemiBold';
  src:  url('../fonts/Raleway-SemiBold.ttf') format('truetype');
}

.side-menu{
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: #1c1c1c;
	left: -100%;
	top: 0;
	transition: left 0.2s linear;
	&.active{
		left: 0;
	}
	
	h1{
		color: #4ec281;
		font-family: "RalewayRegular";
		font-size: 24px;
		margin-left: 57px;
		margin-top: 80px;
		// &:before{
		// 	content: ".";
		// 	color: #4ec281;
		// 	font-size: 
		// }
	}
	ul{
		font-family: "RalewaySemiBold";
		font-size: 14px;
		text-transform: uppercase;
		padding-left: 0px;
		padding-top: 40px;
		li{
			padding-left: 57px;
			padding-top: 20px;
			padding-bottom: 20px;
			list-style: none;
			border-top: 1px solid #262626;
			border-bottom: 1px solid #262626;
			a{
				color: #8e8e8e;
				text-decoration: none;
			}
		}
	}
}